body {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  transition: color 0.3s, background-color 0.3s;

  --bg-black: hsl(209, 100%, 10%);
  --bg-white: hsl(210, 40%, 96%);
  --color-black: #020202;
  --color-white: #ebebeb;
}

.light-theme {
  background: var(--bg-white);
  color: var(--color-black);
}

.dark-theme {
  background: var(--bg-black);
  color: var(--color-white);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.7rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    text-align: start;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

a {
  font-weight: 600;
  transition: 0.5s;
  opacity: 0.7;
}

.light-theme a {
  color: black;
}

.dark-theme a {
  color: white;
}

a:hover {
  opacity: 1;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.6em 1.2em;
  border-radius: 0.4em;
  background-color: hsl(210, 70%, 50%);
  border: 0;
  color: hsl(0, 0%, 100%);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover,
button:focus {
  background-color: hsl(210, 70%, 40%);
  transform: translateY(-0.1em);
}

a:active {
  transform: translateY(0);
}

.ml-auto {
  margin-left: auto;
}

.inline {
  display: inline;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Comments section */
.comments-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.light-theme .comments-form > input {
  border: 1px solid var(--color-black);
}

.dark-theme .comments-form > input {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.comments-form > input {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: transparent;
}

.comments-list {
  padding: 4px;
}

.comment {
  border-radius: 16px;
  padding: 8px;
  width: fit-content;
  min-width: 15em;
  max-width: 40vw;
  text-wrap: wrap;
  margin-bottom: 1em;
}

.comment > h3 {
  margin: 0;
  padding: 0;
}

.dark-theme .comment {
  border: 1px solid var(--color-white);
}

.light-theme .comment {
  border: 1px solid var(--color-black);
}
